extends layout



block content
  h1= title
  table
    tr
    td Updated
    td Race
    td Name
    td Club
    td(colspan=2) Time
    td Status
    td Club Name
    each item in data
      tr
      td #{item.updated}
      td #{item.race.code}
      td #{item.runner.name}
      td #{item.runner.org.abbr}
      td #{item.time}
      td #{item.timestr}
      td #{item.status}
      td #{item.runner.org.name}
