extends layout


block content
  h1= title

  if dataStale == true
    p.note.stale All results are preliminary. Server was last updated #{dataDateTime}.
  else
    p.note All results are preliminary. Server was last updated #{dataDateTime}.
    
  p
    if showTeamResultsLink == true
      a(href=teamresultsurl) Team Results
      | &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
    a(href='/') Race index

  hr

  table
    thead
      th &nbsp
      th Name
      th Club
      th Time
      th Points
      th Club Name


    tbody.results
      each item in okresults
        tr
          td.alignRight.place #{item.place}.
          td #{item.runner.name}
          td #{item.runner.org.abbr}
          td #{item.timestr}
          td.alignR #{item.points}
          td #{item.runner.org.name}


      tr
        td(colspan="7") &nbsp


      each entry in badresults
        tr.badresult
          td.place ---
          td #{entry.runner.name}
          td #{entry.runner.org.abbr}
          td(colspan="2").alignC #{entry.status}  (#{entry.timestr})
          td #{entry.runner.org.name}

  p
