extends layout

block content
  h1= title

  if dataStale == true
    p.note.stale All results are preliminary. Server was last updated #{dataDateTime}.
  else
    p.note All results are preliminary. Server was last updated #{dataDateTime}.

  a(href=indresultsurl) Individual Results
  | &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
  a(href='/') Race index

  hr

  table.teams
    each item in data
      tr.team
        td.place
          strong #{item.team.place}.
        td
          strong #{item.team.score}
        td(colspan=2)
          strong #{item.team.name} (#{item.team.abbr})

      each res in item.runners
        tr
          td
          td #{res.points}
          td #{res.runner.name}
          td #{res.timestr}

      tr
        td &nbsp
